body {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

body,
h1 {
  margin: 0;
}
.title {
  background: rgb(135, 206, 235);
  color: white;
  height: 40px;
  padding-top: 15px;
  margin-bottom: 20px;
}
.voices {
  background: #ffffff;
}

#speak,
#stop {
  background: rgb(135, 206, 235);
  color: white;
  cursor: pointer;
  border-radius: 10px;
  display: inline-block;
  height: 25px;
  padding-top: 5px;
  width: 100px;
}


#speak:active,
#stop:active {
  background-color: rgb(97, 148, 168);
}

#speak:hover,
#stop:hover {
  background-color: rgb(123, 188, 214);
}
